.ABAP {
    color: #e8274b;
  }
  .ActionScript {
    color: #882b0f;
  }
  .Ada {
    color: #02f88c;
  }
  .Agda {
    color: #315665;
  }
  .AGS-Script {
    color: #b9d9ff;
  }
  .Alloy {
    color: #64c800;
  }
  .AMPL {
    color: #e6efbb;
  }
  .ANTLR {
    color: #9dc3ff;
  }
  .API-Blueprint {
    color: #2acca8;
  }
  .APL {
    color: #5a8164;
  }
  .Arc {
    color: #aa2afe;
  }
  .Arduino {
    color: #bd79d1;
  }
  .ASP {
    color: #6a40fd;
  }
  .AspectJ {
    color: #a957b0;
  }
  .Assembly {
    color: #6e4c13;
  }
  .ATS {
    color: #1ac620;
  }
  .AutoHotkey {
    color: #6594b9;
  }
  .AutoIt {
    color: #1c3552;
  }
  .BlitzMax {
    color: #cd6400;
  }
  .Boo {
    color: #d4bec1;
  }
  .Brainfuck {
    color: #2f2530;
  }
  .C-Sharp {
    color: #178600;
  }
  .C {
    color: #555555;
  }
  .Chapel {
    color: #8dc63f;
  }
  .Cirru {
    color: #ccccff;
  }
  .Clarion {
    color: #db901e;
  }
  .Clean {
    color: #3f85af;
  }
  .Click {
    color: #e4e6f3;
  }
  .Clojure {
    color: #db5855;
  }
  .CoffeeScript {
    color: #244776;
  }
  .ColdFusion-CFC {
    color: #ed2cd6;
  }
  .ColdFusion {
    color: #ed2cd6;
  }
  .Common-Lisp {
    color: #3fb68b;
  }
  .Component-Pascal {
    color: #b0ce4e;
  }
  .cpp {
    color: #f34b7d;
  }
  .Crystal {
    color: #776791;
  }
  .CSS {
    color: #563d7c;
  }
  .D {
    color: #ba595e;
  }
  .Dart {
    color: #00b4ab;
  }
  .Diff {
    color: #88dddd;
  }
  .DM {
    color: #447265;
  }
  .Dogescript {
    color: #cca760;
  }
  .Dylan {
    color: #6c616e;
  }
  .E {
    color: #ccce35;
  }
  .Eagle {
    color: #814c05;
  }
  .eC {
    color: #913960;
  }
  .ECL {
    color: #8a1267;
  }
  .edn {
    color: #db5855;
  }
  .Eiffel {
    color: #946d57;
  }
  .Elixir {
    color: #6e4a7e;
  }
  .Elm {
    color: #60b5cc;
  }
  .Emacs-Lisp {
    color: #c065db;
  }
  .EmberScript {
    color: #fff4f3;
  }
  .Erlang {
    color: #b83998;
  }
  .F-Sharp {
    color: #b845fc;
  }
  .Factor {
    color: #636746;
  }
  .Fancy {
    color: #7b9db4;
  }
  .Fantom {
    color: #dbded5;
  }
  .FLUX {
    color: #88ccff;
  }
  .Forth {
    color: #341708;
  }
  .FORTRAN {
    color: #4d41b1;
  }
  .FreeMarker {
    color: #0050b2;
  }
  .Frege {
    color: #00cafe;
  }
  .Game-Maker-Language {
    color: #8fb200;
  }
  .Glyph {
    color: #e4cc98;
  }
  .Gnuplot {
    color: #f0a9f0;
  }
  .Go {
    color: #375eab;
  }
  .Golo {
    color: #88562a;
  }
  .Gosu {
    color: #82937f;
  }
  .Grammatical-Framework {
    color: #79aa7a;
  }
  .Groovy {
    color: #e69f56;
  }
  .Handlebars {
    color: #01a9d6;
  }
  .Harbour {
    color: #0e60e3;
  }
  .Haskell {
    color: #29b544;
  }
  .Haxe {
    color: #df7900;
  }
  .HTML {
    color: #e44b23;
  }
  .Hy {
    color: #7790b2;
  }
  .IDL {
    color: #a3522f;
  }
  .Io {
    color: #a9188d;
  }
  .Ioke {
    color: #078193;
  }
  .Isabelle {
    color: #fefe00;
  }
  .J {
    color: #9eedff;
  }
  .Java {
    color: #b07219;
  }
  .JavaScript {
    color: #f1e05a;
  }
  .JFlex {
    color: #dbca00;
  }
  .JSONiq {
    color: #40d47e;
  }
  .Julia {
    color: #a270ba;
  }
  .Jupyter-Notebook {
    color: #da5b0b;
  }
  .Kotlin {
    color: #f18e33;
  }
  .KRL {
    color: #28431f;
  }
  .Lasso {
    color: #999999;
  }
  .Latte {
    color: #a8ff97;
  }
  .Lex {
    color: #dbca00;
  }
  .LFE {
    color: #004200;
  }
  .LiveScript {
    color: #499886;
  }
  .LOLCODE {
    color: #cc9900;
  }
  .LookML {
    color: #652b81;
  }
  .LSL {
    color: #3d9970;
  }
  .Lua {
    color: #000080;
  }
  .Makefile {
    color: #427819;
  }
  .Mask {
    color: #f97732;
  }
  .Matlab {
    color: #bb92ac;
  }
  .Max {
    color: #c4a79c;
  }
  .MAXScript {
    color: #00a6a6;
  }
  .Mercury {
    color: #ff2b2b;
  }
  .Metal {
    color: #8f14e9;
  }
  .Mirah {
    color: #c7a938;
  }
  .MTML {
    color: #b7e1f4;
  }
  .NCL {
    color: #28431f;
  }
  .Nemerle {
    color: #3d3c6e;
  }
  .nesC {
    color: #94b0c7;
  }
  .NetLinx {
    color: #0aa0ff;
  }
  .NetLinx-ERB {
    color: #747faa;
  }
  .NetLogo {
    color: #ff6375;
  }
  .NewLisp {
    color: #87aed7;
  }
  .Nimrod {
    color: #37775b;
  }
  .Nit {
    color: #009917;
  }
  .Nix {
    color: #7e7eff;
  }
  .Nu {
    color: #c9df40;
  }
  .Objective-C {
    color: #438eff;
  }
  .Objective-Cpp {
    color: #6866fb;
  }
  .Objective-J {
    color: #ff0c5a;
  }
  .OCaml {
    color: #3be133;
  }
  .Omgrofl {
    color: #cabbff;
  }
  .ooc {
    color: #b0b77e;
  }
  .Opal {
    color: #f7ede0;
  }
  .Oxygene {
    color: #cdd0e3;
  }
  .Oz {
    color: #fab738;
  }
  .Pan {
    color: #cc0000;
  }
  .Papyrus {
    color: #6600cc;
  }
  .Parrot {
    color: #f3ca0a;
  }
  .Pascal {
    color: #b0ce4e;
  }
  .PAWN {
    color: #dbb284;
  }
  .Perl {
    color: #0298c3;
  }
  .Perl6 {
    color: #0000fb;
  }
  .PHP {
    color: #4f5d95;
  }
  .PigLatin {
    color: #fcd7de;
  }
  .Pike {
    color: #005390;
  }
  .PLSQL {
    color: #dad8d8;
  }
  .PogoScript {
    color: #d80074;
  }
  .Processing {
    color: #0096d8;
  }
  .Prolog {
    color: #74283c;
  }
  .Propeller-Spin {
    color: #7fa2a7;
  }
  .Puppet {
    color: #302b6d;
  }
  .Pure Data {
    color: #91de79;
  }
  .PureBasic {
    color: #5a6986;
  }
  .PureScript {
    color: #1d222d;
  }
  .Python {
    color: #3572a5;
  }
  .QML {
    color: #44a51c;
  }
  .R {
    color: #198ce7;
  }
  .Racket {
    color: #22228f;
  }
  .Ragel-in-Ruby-Host {
    color: #9d5200;
  }
  .RAML {
    color: #77d9fb;
  }
  .Rebol {
    color: #358a5b;
  }
  .Red {
    color: #ee0000;
  }
  .Ren-Py {
    color: #ff7f7f;
  }
  .Rouge {
    color: #cc0088;
  }
  .Ruby {
    color: #701516;
  }
  .Rust {
    color: #dea584;
  }
  .SaltStack {
    color: #646464;
  }
  .SAS {
    color: #b34936;
  }
  .Scala {
    color: #dc322f;
  }
  .Scheme {
    color: #1e4aec;
  }
  .Self {
    color: #0579aa;
  }
  .Shell {
    color: #89e051;
  }
  .Shen {
    color: #120f14;
  }
  .Slash {
    color: #007eff;
  }
  .Slim {
    color: #ff8f77;
  }
  .Smalltalk {
    color: #596706;
  }
  .SourcePawn {
    color: #5c7611;
  }
  .SQF {
    color: #3f3f3f;
  }
  .Squirrel {
    color: #800000;
  }
  .Stan {
    color: #b2011d;
  }
  .Standard-ML {
    color: #dc566d;
  }
  .SuperCollider {
    color: #46390b;
  }
  .Swift {
    color: #ffac45;
  }
  .SystemVerilog {
    color: #dae1c2;
  }
  .Tcl {
    color: #e4cc98;
  }
  .TeX {
    color: #3d6117;
  }
  .Turing {
    color: #45f715;
  }
  .TypeScript {
    color: #2b7489;
  }
  .Unified-Parallel-C {
    color: #4e3617;
  }
  .Unity3D-Asset {
    color: #ab69a1;
  }
  .UnrealScript {
    color: #a54c4d;
  }
  .Vala {
    color: #fbe5cd;
  }
  .Verilog {
    color: #b2b7f8;
  }
  .VHDL {
    color: #adb2cb;
  }
  .VimL {
    color: #199f4b;
  }
  .Visual-Basic {
    color: #945db7;
  }
  .Volt {
    color: #1f1f1f;
  }
  .Vue {
    color: #2c3e50;
  }
  .Web-Ontology-Language {
    color: #9cc9dd;
  }
  .wisp {
    color: #7582d1;
  }
  .X10 {
    color: #4b6bef;
  }
  .xBase {
    color: #403a40;
  }
  .XC {
    color: #99da07;
  }
  .XQuery {
    color: #5232e7;
  }
  .Zephir {
    color: #118f9e;
  }