
html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --buttonback: #15191f;
    --background: #0f1216;
}

body {
    min-height: 100vh;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.navbar {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 61px;
    justify-content: flex-start;
    background-color: var(--background);
    top: 0;
}

.jump-to-bar {
    color: #fff;
    font-size: 14px;
    background-color: #0e1116;
    border: 1px solid #31363c;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px;
}

.navlinks {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.navlinks > li {
    padding: 10px;
}

.navbar .logo {
    font-size: 35px;
    color: #f1f6fb;
    margin-right: 20px;
}

.navbar > ul > li > a {
    color: #f1f6fb;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.profile-icons {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}