
html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --buttonback: #15191f;
    --background: #0f1216;
}

body {
    min-height: 100vh;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.navbar {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 30px 0 30px;
    height: 61px;
    justify-content: flex-start;
    background-color: var(--buttonback);
    top: 0;
}

.jump-to-bar {
    color: #fff;
    font-size: 14px;
    background-color: #0e1116;
    border: 1px solid #31363c;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px;
}

.navlinks {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.navlinks > li {
    padding: 10px;
}

.navbar .logo {
    font-size: 35px;
    color: #f1f6fb;
    margin-right: 20px;
}

.navbar > ul > li > a {
    color: #f1f6fb;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.profile-icons {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.profile-icons > li {
    padding: 10px;
    
}
/* STICKY bar */
.page-sticky { /* Contains container */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #31363c;
    background-color: var(--background);

}

.container-sticky { /* IS container */
    width: 85%;
    height: 100%;
    display: flex;
}

.filler-spot { /*gives a gap */
    width: 26.6%;
}

.sticky-options {
    width: 73.5%;
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0;
    height: 50px;
}

.sticky-options > li {
    border-radius: 5px;
    margin: 5px;
}

.sticky-options > li > a:hover {
    background-color: #21262a;
}

.sticky-options > li > a {
    display: block;
    height: 100%;
    color: #f1f6fb;
    font-size: 14px;
    margin: 10px;
    padding: 5x 10px;
    border-radius: 5px;
}
